
<div class="center jumbotron">

<h3>Welcome to the Judge App</h3>
<ol></ol>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
    <%= render 'layouts/footer' %>
</div>
