<% provide(:title, 'All users') %>
<h1>All judges</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
           <h4> 
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %> 
            </h4>
    </li>
  <% end %>
</ul>