<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.scoresheets.any? %>
      <h3>Scoresheets (<%= @user.scoresheets.count %>)</h3>
      <ol class="scoresheets">
        <%= render @scoresheets %>
      </ol>
      <%= will_paginate @scoresheets %>
    <% end %>
  </div>

</div>