<%= form_for(@scoresheet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
   <%= f.label :Team %>
   <%= f.text_field :team , class: 'form-control', :readonly => true %>
   <%= f.label :Correctness %>
   <% if current_user.admin? %>
       <%= f.text_field :correctness , class: 'form-control', :readonly => true %>
   <% else %>
         <%= f.select :correctness, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], :selected => f.object.correctness) %>
    <% end %>
   <%= f.label :Creativity %>
   <% if current_user.admin? %>
   <%= f.text_field :creativity, class: 'form-control' , :readonly => true %>
   <% else %>
   <%= f.select :creativity, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], :selected => f.object.creativity) %>
    <% end %>
   <%= f.label :Relevance %>
   <% if current_user.admin? %>
   <%= f.text_field :relevance , class: 'form-control' , :readonly => true %>
   <% else %>
   <%= f.select :relevance, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], :selected => f.object.relevance) %>
    <% end %>
   <%= f.label :Sustainability %>
   <% if current_user.admin? %>
   <%= f.text_field :sustainability, class: 'form-control'  , :readonly => true %>
    <% else %>
    <%= f.select :sustainability, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], :selected => f.object.sustainability) %>
   <% end %>
   <%= f.label :"User Experience" %>
   <% if current_user.admin? %>
   <%= f.text_field :user_experience, class: 'form-control', :readonly => true %>
   <% else %>
   <%= f.select :user_experience, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], :selected => f.object.user_experience) %>
   <% end %>
  </div>
  <% if current_user.admin? %>
  <% else %>
   <%= f.submit "Save Scoresheet", class: "btn btn-primary" %>
   <% end %>
<% end %>