  <div class="col-md-7 col-md-offset-1 ">
<li>Team: <%= scoresheet.team %> &nbsp &nbsp
 <% if current_user.admin? %>
       <%= link_to "Show", scoresheet, method: :show %>
 <% else %>
<%= link_to "Edit", scoresheet, method: :edit %>
 <% end %>
</li>
 </div>
