  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="scoresheet_form">
        <%= render 'shared/scoresheet_form' %>
      </section>
    </aside>
   
  </div>
 