<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_for(@scoresheet) do |f| %>
      <%= f.label :"New team number" %>
      <%= f.text_field :team %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>