<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <% if current_user.admin? %>
        <li><%= link_to "Home", 'static_pages/admin' %></li>
        <% else %>
               <li><%= link_to "Home", root_path %></li>
        <% end %>
        <% end %>
        <% if logged_in? %>
        <% if current_user.admin? %>
        |           <li><%= link_to "Users", users_path %></li>
                    <li><%= link_to "Teams", scoresheets_path %></li>
        <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
              <% else %>
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% end %>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>